@import "/src/styles/mixins";
@import "/src/styles/colors";
@import "/src/styles/animations";

.container {
  height: 100%;
  padding: 32px;
  @include flexBox(row);
  gap: 24px;
}

.button {
  background-color: $primary;
  &:hover {
    background-color: $primary;
    opacity: 0.9;
  }
}
